{% extends 'index.html' %} {% block title %}
<title>Shopping | Products</title>
{% endblock title %} {% load static %} {% block content %}

<div class="container my-3">
  <div class="col-3">
    <p class="fw-light fs-2">{{category_name}}</p>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'collections' %}">Collections</a></li>
      <li class="breadcrumb-item active" style="text-transform: capitalize;">{{category_name}}</li>
    </ol>
  </nav>
</div>

<div class="container my-2">
  <div class="row">
    <div class="col-12 text-center">
      <div class="row">
        {% for item in product %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card border-light mb-3 shadow-sm">
            <img
              class="card-img-top"
              src="{{item.product_image.url}}"
              style="object-fit: contain;height: 10rem;"
              alt="Category_Img"
            />
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p><span class="float-start"> <s>Rs: {{item.org_price }}</s></span> <span class="float-end">Rs: {{item.sell_price }}</span></p><br>
              <a href="{% url 'product' category_name item.id %}" class="btn btn-warning bg-gradient stretched-link " style="border: none;outline: none;">Buy now</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}